*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.logo{
	
}
.logo, .icon{
	width: 30px;

}
nav{
	display: inline-block;
	vertical-align: middle;
	margin-left: calc(100% - 170px);
}
nav li{
	display: inline-block;
	margin:10px;
	
}
nav ul{
	list-style-type: none;
}
.search{
	display: inline-block;
}
.talent{
	display: inline-block;
}
.search-bar{
	margin-left: 200px;
	width: 400px;
	height: 30px;
	border-radius: 20px 0px 0px 20px;

}
.talent-bar{
	width: 250px;
	height: 30px;
	border-radius: 0px 20px 20px 0px;

}